body {
    width: 1280px;
    margin: 0 auto;
    /*border: 3px solid black;*/
    box-sizing: border-box;
    font-family: 'Arial';
}

.main-header {
    width: 100%;
    min-height: 323px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #445161;
    box-sizing: border-box;
    color: #fff;
}
.main-header-wrp {
    width: 460px;
    /*border: 1px solid #fff;*/
}

.main-header-title {
    margin: 0 auto;
    color:  #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
}

.main-header-list {
    padding: 0 0 0 27px;
    margin: 0 auto;
   /* margin: 10px 0 0 0;*/
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.main-header-list-item {
    list-style-type: none;
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Light_green_check.svg/768px-Light_green_check.svg.png');
    /*background-image:url(img/layer.png'); подключить смог background-image:url(../img/layer.png')*/
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:4px;
    left: -24px;
}

.main-header-pic {
    display: block;
    background-color:  #ffffff;
    width: 469px;
    min-height: 214px;
}

.about-product {
    width: 100%;
    min-height: 345px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #445161;
}

.about-product-wrp {
    width: 655px;
    /*border: 1px solid blue;*/
}

.about-product-title {
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}

.about-product-txt {
    margin: 30px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #333333;
}

.about-product-video {
    display: block;
    background-color:  #445161;
    width: 430px;
    min-height: 245px;
}


.dignity {
    width: 100%;
    min-height: 417px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    color: #445161;
}

.dignity-title {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.dignity-list {
    width: 50%;
    margin: 0;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    ;
}

.dignity-list-item {
    margin: 27px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #333333;
    list-style-type: none;
    position: relative;
}

.dignity-list-item:before {
    content: "+";
    display: block;
    width: 27px;
    height: 28px;
    background-color:#445161;
    color: #fff;
    font-size: 38px;text-align: center;
    line-height: 30px;
    position: absolute;
    top:5px;
    left: -38px;
}

.screenshots {
    width: 100%;
    min-height: 487px;
    padding: 50px;
    box-sizing: border-box;
    /*border: 1px solid black;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-title {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    box-sizing: border-box;
}

.screenshots-wrapper {
    width: 574px;
    margin: 0 0 30px 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.screenshots-wrapper:nth-child(4),
.screenshots-wrapper:nth-child(5) {
    margin: 0;
}

.screenshots-photo {
    display: block;
    width: 200px;
    height: 150px;
    background-color:  #445161;
}

.screenshots-photo-wrapper {
    width: 359px;
}

.screenshots-photo-title {
    display: block;
    margin: 0 0 15px 0;
    color:  #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.screenshots-photo-txt {
    margin: 0;
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.reviews {
    width: 100%;
    min-height: 425px;
    background-color: #f5f5f5;
    padding: 50px;
    box-sizing: border-box;
    /*border: 1px solid black;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-title {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.reviews-wrapper {
    width: 590px;
    margin: 0 0 23px 0;
    display: flex;
    justify-content: space-between;
}

.circle {
    margin: 1px;
    display: block;
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%;

}
.reviews-circle-wrapper {
    width: 483px;
    min-height: 121px;
    background-color: #ebebeb;
    position: relative;
    padding: 10px;
    margin: 0px 20px 0 30px;
    box-sizing: border-box;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
}

.reviews-wrapper:nth-child(4),
.reviews-wrapper:nth-child(5) {
    margin: 0;
}

.reviews-circle-wrapper:before {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right: 20px solid #ebebeb;
    position: absolute;
    top: 20px;
    left: -30px;
}

.reviews-circle-txt {
    margin:0 0 10px 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    text-align: justify;

}

.review-circle-author {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}

.price {
    width: 100%;
    min-height: 656px;
    padding: 50px;
    box-sizing: border-box;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.price-title {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    box-sizing: border-box;
    /*border: 1px solid;*/
    color: #445161;
}

.price-item {
    width: 300px;
    min-height: 100px;
    margin:  0 45px 0 0;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    border: 1px solid;
    background-color: #445161;
    border: 1px solid #445161;
    color: #fff;
    border-radius: 5px;
}

.price-item:last-child {
    margin: 0;
}

.price-item-title{
    margin: 12px 0 12px 0;
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}
.price-item-cost {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px;
    box-sizing: border-box;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    background-color: #fff;
}

.price-item-list {
    margin: 15px 0 20px 20px;
    padding: 0 0 0 7px;
    list-style-position: inside;
}
.price-item-list-txt{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.price-item-btn {
    display: block;
    margin:  0 auto;
    padding: 5px 10px;
    width: 260px;
    min-height: 40px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
}

.price-item-btn:hover {
    background-color: #445161;
    color: #fff;
}

.price-item-btn:active {
    background-color: #fff;
    color: #445161;
}

.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 509px;
    padding: 50px;
    background-color: #445161;
    box-sizing: border-box;
}

.main-footer_title {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    color:  #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.main-footer_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 0 0;
}

.main-footer_form input[type="text"],
.main-footer_form input[type="email"],
.main-footer_form textarea {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    background-color:  #ffffff;
    outline: none;
    text-transform: capitalize;
}

.main-footer_form input[type="text"]:hover,
.main-footer_form input[type="email"]:hover,
.main-footer_form textarea:hover {
    background-color: gray;
    color: white;
    border-color: white;
}

.main-footer_form input[type="text"]:hover::placeholder,
.main-footer_form input[type="email"]:hover::placeholder,
.main-footer_form textarea:hover::placeholder {
    color: white;
}

.main-footer_form textarea {
    width: 500px;
    height: 170px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color:  #ffffff;
    outline: none;
}

input[placeholder],
textarea[placeholder] {
    text-overflow:ellipsis;
    color:  #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.main-footer_form input[type="submit"] {
    border-radius: 5px;
    background-color:  #ffffff;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    color:  #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    outline: none;
}

.main-footer_form input[type="submit"]:hover {
    background-color: gray;
    color: white;
}

.main-footer_form input[type="submit"]:active {
    background-color:  #ffffff;
    color:  #445162;
}

.main-footer_contacts {
    width: 240px;
    height: 300px;
    background-color: white;
}

.contacts {
    display: block;
    box-sizing: border-box;
    width: 242px;
    /*border: 1px solid black;*/
}

.contacts-item {
    display: block;
    margin: 0 0 25px 0;
    padding: 0 0 0 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    box-sizing: border-box;
    position: relative;
}

.contacts-item::before {
    content: "";
    display: block;
    width: 26px;
    height: 27px;
    /*border: 1px solid black;*/
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contacts-item:nth-child(1)::before {
    background-image: url('../img/skype_icon.png');
}
.contacts-item:nth-child(2)::before {
    background-image: url('../img/icq_icon.png');
}
.contacts-item:nth-child(3)::before {
    background-image: url('../img/email_icon.png');
}
.contacts-item:nth-child(4)::before {
    background-image: url('../img/phone_icon.png');
}

.social {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
 /*   font-size: 60px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;*/
}

.social-item {
    display: block;
    width: 48px;
    height: 42px;
    /* border: 1px solid black; */
    background-image: url('../img/socialbuttons.png');
}



.social-item:nth-child(1) {
    background-position: 0 0;
}

.social-item:nth-child(2) {
    background-position: -47px 0;
}

.social-item:nth-child(3) {
    background-position: -98px 0;
}

.social-item:nth-child(4) {
    background-position: -148px 0;
}

.social-item:nth-child(5) {
    background-position: -193px 0;
}
/* ================================= */

.social-item:nth-child(1):hover {
    background-position: 0 -42px;
    color: green;
}

.social-item:nth-child(2):hover {
    background-position: -47px -42px;
}

.social-item:nth-child(3):hover {
    background-position: -98px -42px;
}

.social-item:nth-child(4):hover {
    background-position: -148px -42px;
}

.social-item:nth-child(5):hover {
    background-position: -193px -42px;
}
.copyright{
    display: flex;
    box-sizing: border-box;
    background-color: #f5f5f5;
    width: 100%;
    min-height: 25px;
    justify-content:center;
}

.copyright-txt{
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
    text-align: center;
}